#popupCard{
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: white;
    border: 6px solid lightgrey;
    color: rgb(26, 128, 162);
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    opacity: 2;
}
#popupCardEdit{
    position: fixed;
    top: 40%;
    left: 16%;
    background-color: rgb(255, 255, 255);
    border: 2px solid lightgrey;
    color: rgb(26, 128, 162);
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    opacity: 6;
}
#popupCardEdit th{
    color: whitesmoke;
}
#popupCardEdit input{
    margin: 2px;
}
#popupCardEdit button{
    background-color: rgb(188, 213, 250);
    margin: 2px;
}

.icon{
    background-color: rgb(170, 210, 231);
    border-radius: 70px;
    height: 60px;
    padding: 8px;
}
h3{
    color: black;
}
.cancelbtn{
    width: 120px;
    color: white;
    height: 34px;
}
.iconSucc{
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    border-radius: 100px;
    padding: 8px;
}
.inputHidden{
    position: absolute;
    top: 65%;
    left: 30%;
    opacity: 0;
}